@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* * {
  margin: 0;
  padding: 0;
}

h3.card-title {
  font-size: 2.7rem;
  color: #94FBABc4;
  text-shadow: 2px 2px #242424;
  text-align: center;
  letter-spacing: -.03rem;
  line-height: 5.5rem;
  margin-bottom: -3rem;
  margin-right: -3rem;
  margin-left: -3rem;
  margin-top: -2rem;
  animation-name: card-title;
  animation-duration: .15s;
  animation-timing-function: ease-in;
}


@keyframes card-title {
  from {
    line-height: 4.5rem;
    margin-top: -1rem;
  }
} */

/* .App {
  text-align: center;
  background-color: #2c2e32;
  padding-bottom: 2rem;
  min-height: 100vh;
} */

/* .App-logo {
  width: 15rem;
  pointer-events: none;
  margin: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .navbar-nav {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .navbar-logo {
    display: none;
  }

  .navbar-sign-in-logo {
    display: none;
  }
}


@media (min-width: 600px) {
  .navbar-nav {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }

  .navbar-logo {
    max-width: 2.7rem;
    margin: .3rem 0rem 0rem 0rem;
  }

  .navbar-logo:hover {
    zoom: 105%;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
    position: absolute;
    right: 1rem;
    top: .8rem;
    color:#94FBAB;
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
