@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body, h1 {
  color:rgb(222, 222, 222)
}

.App {
  text-align: center;
  background-color: #2c2e32;
  min-height: 100vh;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  margin: 2rem;
  margin-bottom: 1rem;
}

.navbar-logo {
  height: 2.8rem;
  margin-right: 2rem;
  margin-top: 0.2rem;
}

.navbar-link {
  color:rgb(184, 184, 184);
}

.navbar-link:hover {
  color:#cddc39;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}